# Resume file parsing
pypdf2==3.0.1
python-docx==1.1.0

pyyaml==6.0.1

# Database
sqlalchemy==2.0.35

# LLM for intelligent parsing
langchain==0.3.1
langchain-community==0.3.1

# Utilities
python-dotenv==1.0.1

#Job scraping
beautifulsoup4==4.14.2